[Desktop Entry]
Type=Application
Name=FapOS Idle Monitor
Comment=Te busca cuando dejas de tocar la PC
Exec=/usr/local/bin/fapos-idle-monitor.sh
X-GNOME-Autostart-enabled=true
Hidden=false
